# default ignore
.lightly
.c_bin
.classes
logs
*.log
node_modules
dist
dist-ssr
*.local
.vscode
# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
*.bat
*.sh
**/*.sh
**/*.bat
.code-workspace
**/*.exe